.App {
  text-align: center;
}

.loginH1{
  margin-top: 3%;
}

.loginButton{
  color: #523100;
  background-color: #ffbb00;
  border-radius: 50px;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 8em;
  font-size: large;
  font-weight: 600;
  margin:auto;
  margin-top: 40vh ;
}

.submitButton{
  
  color: #523100;
  background-color: #ffbb00;
  border-radius: 50px;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 8em;
  font-size: large;
  font-weight: 600;
  margin:auto;
  margin-top: 10vh;
  margin-bottom: 10vh;

}

.deletebtn,.editbtn{
  border-color:transparent;
  background-color: transparent;
  margin:auto;
  
}


.homeDiv{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modifyBtn{
  margin: 1vh 2vw 3vh 2vw;
  width: 10%;
}

.hidden{
  display:none
}

.display{
  display: block;
}

.tableDistinta{
  max-width: 95%;
  margin:auto;
}

.imgDistinta{
  max-width: 30px;
  max-height: 30px;
  margin: 0px 10px 10px 0px
  
}
