.App {
  text-align: center;
}

.loginH1{
  margin-top: 3%;
}

.loginButton{
  color: #523100;
  background-color: #ffbb00;
  border-radius: 50px;
  border-color: transparent;
  justify-content: center;
  height: 3em;
  width: 8em;
  font-size: large;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.deletebtn,.editbtn{
  border-color:transparent;
  background-color: transparent;
  margin:auto;
  
}


.homeDiv{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden{
  display:none
}

.display{
  display: block;
}

.tableDistinta{
  max-width: 95%;
  margin:auto;
}

.stampaTableDistinta{
  max-width:95%;
  margin:auto;
}

.imgDistinta{
  max-width: 30px;
  max-height: 30px;
  margin: 0px 10px 10px 0px
  
}

/* classe per eliminare le parti che non si vogliono stampare da stampaDistinta.jsx*/

@media print {
@page { size: landscape; }
.noPrint{
  display:none;
}}
